@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito Sans", sans-serif;
}

::selection {
  @apply bg-custom300 text-custom50;
}

/* 웹킷 기반 브라우저 (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4caf50; /* 스크롤바의 색상 */
  border-radius: 10px; /* 스크롤바 모서리 둥글게 */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 스크롤 트랙의 배경색 */
}

/* Firefox */
* {
  scrollbar-width: thin; /* 스크롤바 너비 */
  scrollbar-height: 80%;
  scrollbar-color: #4caf50 #f1f1f1; /* 스크롤바 색상(thumb)과 배경색(track) */
}


@layer base {
  div {
    @apply text-custom500 text-sm 
    sm:text-lg;
  }

  h1 {
    @apply text-custom500;
  }

  h2 {
    @apply text-custom500 font-bold text-3xl
    mb-[1%] mt-[3%]
  }

  h3 {
    @apply text-custom500
    mb-[1%]
  }

  h4 {
    @apply text-custom300
    my-[3%]
  }

  p {
    @apply text-custom500
    text-sm
    
    sm:text-lg;
  }

  input {
    @apply w-full bg-transparent
    placeholder-custom500 placeholder-opacity-50
    focus:outline-none;
  }

  button {
    @apply whitespace-nowrap
    cursor-pointer
  
   hover:text-custom50 
    transition-colors duration-300 ease-in-out;
  }
}

@layer components {
  
  .border-green {
    @apply border border-custom500;
  }

  .primary-btn {
    @apply px-4 py-1 mr-1 
    border border-custom500 rounded-full
    hover:bg-custom700 hover:border-custom700

    md:px-6 
    lg:px-8;
  }

  .circle-btn {
    @apply w-[46px] h-[46px]
    border border-custom500 rounded-full
    flex justify-center items-center 
     
  
    hover:bg-custom700 hover:border-custom700
    
    transition-colors duration-300 ease-in-out;
  }


  .plain-button {
    @apply hover:text-custom700 pt-1
    border-b-2 border-transparent
    transition-colors duration-300 ease-in-out;
  }

  .button-clicked {
    @apply bg-custom700 border-custom700 text-custom50;
  }

  .plain-clicked {
    @apply text-custom700 
  }

  .plain-underline-clicked {
    @apply text-custom700 
    border-b-2 border-custom700
  }

  .grid-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 
    justify-between mt-11;
  }
}

.header-wrapper {
  @apply flex flex-[1] flex-row relative z-50;
}

.header-menu-container {
  @apply header-element
  flex-[4] mr-5 border
  hidden 
  
  lg:flex;
}

@layer utilities {
  .wrapper {
    @apply min-w-[320px] w-screen h-screen p-5
    bg-custom50
    overflow-x-hidden 
    sm:p-8;
  }
  
  .page-container {
    @apply h-full p-4
    border-green rounded-3xl
    relative
  
    overflow-x-hidden  overflow-y-auto
    sm:p-8;
  }

  .detail-page {
    @apply w-full h-screen border border-red-600 mt-5
    flex flex-col-reverse justify-end items-center

    sm:mt-10

    lg:flex-row lg:h-[89%] lg:justify-between
  }

  .knobs-container {
    @apply
    w-full h-auto
    border border-blue-600 mr-10 
    hidden justify-between items-start 
    relative
    
    sm:flex sm:flex-col

    lg:w-[61.8%] lg:h-[70%]
  }

  .detail-img-container {
    @apply
    w-[61.8%]
    aspect-square
    bg-cover

    /* lg:w-[38.2%] */
  }

  .no-margin {
    @apply m-0
  }

  @keyframes drop-show {
    0% {
      transform: translateY(45px);
      opacity: 0;
    }
    100% {
      transform: translateY(60px);
      opacity: 1;
    }
  }

  @keyframes drop-hide {
    0% {
      transform: translateY(55px);
      opacity: 1;
    }
    100% {
      transform: translateY(45px);
      opacity: 0;
    }
  }

  .menu-drop {
    @apply w-[52px] h-[120px] py-2
    border-green rounded-lg
    flex flex-col justify-between items-center
    absolute top-0 left-0
    transition-all duration-100 ease-in-out

    sm:w-[58px] sm:h-[150px] sm:py-2 
    sm:rounded-md sm:translate-x-10;
  }

  .drop-show {
    animation: drop-show 0.3s ease-in-out forwards;
  }

  .drop-hide {
    animation: drop-hide 0.3s ease-in-out forwards;
  }
}

/* 카드 별 레벨 아이콘 */
.tag {
  @apply w-[45px] h-[45px] mr-1 
  flex justify-center items-center
  border border-custom500 rounded-full
  text-base text-custom500
  whitespace-nowrap
  overflow-hidden
  transition-all duration-300 ease-in-out

  md:text-lg

  hover:w-[120px]
 hover:bg-custom700 hover:border-custom700 hover:text-custom50;
}

.tag.hoverSm {
  @apply hover:w-[120px];
}

.tag.hoverMd {
  @apply hover:w-[150px];
}

.tag.hoverLg {
  @apply hover:w-[190px];
}

.tag-span {
  @apply hidden opacity-0

  group-hover:block
  group-hover:mx-3
  group-hover:opacity-100;
}

.title {
  @apply text-6xl text-custom500 font-bold tracking-tight
  
  sm:text-8xl
  lg:text-9xl;
}

.card-image {
  @apply w-full aspect-square object-cover rounded-[5%];
}

.main-line {
  @apply w-full h-[30px] my-2 
  border-t
  border-custom500
  relative
  
  sm:h-[60px]
  md:h-[80px]
  lg:h-[100px]
  md:my-4;
}

.sub-line {
  @apply w-full h-[1px] my-2 
    border-t
    border-custom500
    relative
  
    md:hidden;
}

.popup-container {
  @apply min-w-[230px] h-[50px] mt-5 ml-2 px-8
  border border-custom500 rounded-xl rounded-tl-none
  flex flex-row justify-between items-center
  absolute 
  transition-all duration-100 ease-in-out


  animate-fade-down animate-once animate-duration-500 animate-delay-100 animate-ease-in-out
  
  sm:w-[240px] sm:h-[70px] sm:ml-9 sm:px-8 sm:mt-10
  sm:rounded-2xl sm:rounded-tl-none;
}



.popup-tri {
  @apply stroke-custom500
  absolute top-0 left-0 -translate-y-[27px] -translate-x-[2px] z-10;
}

.popup-bg {
  @apply fill-custom50
  absolute top-0 left-0 -translate-y-[22px];
}

.popup-tri.mobile {
  @apply top-[13px] left-[0.5px];
}

.popup-bg.mobile {
  @apply top-[11px] left-[0px];
}

.header-element {
  @apply h-[46px] py-2 px-4
  border-green rounded-full 
  bg-transparent 
   
  justify-between items-center

  sm:px-5
  lg:px-6;
}

.card-container {
  @apply w-full bg-custom50 mt-10
  border-t border-custom300
  flex flex-col 
  cursor-pointer

  hover:scale-[102%] 

  transition-transform duration-300 ease-in-out;
}

.input-container {
  @apply w-full header-element mr-2
  flex flex-row justify-between items-center
  placeholder-custom500 placeholder-opacity-50

  sm:mr-3
  lg:w-[25%] lg:mr-0;
}

.input-focus {
  @apply outline-none 
  border-custom700
  ring-1
  ring-custom700
  text-custom700;
}

.icon-general {
  @apply fill-green-700 
  
  group-hover:fill-white
  group-hover:hidden;
}

.levelIcon {
  @apply font-bold;
}

.waterIcon {
  @apply w-5 h-auto mt-1;
}
